@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');

/* FULL BACKGROUND: https://css-tricks.com/perfect-full-page-background-image/ */
html, body, #root{
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
}

.authBody {
  /* fill the height of the browser */
  font-family: 'Didact Gothic', sans-serif;
  padding:0;
  margin:0;
  height: 100%;
  width: 100%;
  background: url('./Assets/clouds.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.center-login-logo {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 30%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.horizontal-bars {
  margin-top: 3%;
  opacity: 50%;
}

.profile-center{
  height: 50vh;
}

.logo{
  height: 260px;
}

.UofT-Space{
  background: linear-gradient(270deg, #cfdef3, #4ca1af, #c4e0e5);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
  padding: 27px;
  border-radius: 100%;
}

.register-form{
  margin-top: 15px;
  text-align: center;
}

.logo-container img{
  margin-top: 10px;
  width: 100%;
  height: auto;
}

.logo-container{
  margin-top: 45px;
  border-radius: 10%;
  background: linear-gradient(270deg, #cfdef3, #4ca1af, #c4e0e5);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
}

/* CSS TRANSFORM HELP: https://www.webdesignerdepot.com/2014/05/8-simple-css3-transitions-that-will-wow-your-users/ */
.grow:hover{
  -webkit-transition: transform 0.2s ease-in-out;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.payment{
  width: 30%;
  text-align: center;
  background: white;
  border-radius: 15px;
  border: 2px solid #000;
  padding-bottom: 15px;
  position: absolute;
  left: 35%;
  top: 25%;
}

.orderSum{
  border-bottom: 1px solid #111;
  width: 60%;
  position: relative;
}
.insidePay{
  text-align: left;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-top: 10%;
}

#icon{
  width: 45px;
  height:45px;
}

.StripeCheckout{
  width:50%;
}

.create-account{
  margin-top: 10px;
  padding: 0 2em 0 2em;
  /* gradiant */
  background: linear-gradient(270deg, #cfdef3, #4ca1af, #c4e0e5);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
}

.login-button{
  margin-bottom: 5px;
  padding: 0 2em 0 2em;
  /* gradiant */
  background: linear-gradient(270deg, #cfdef3, #4ca1af, #c4e0e5);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
}

.create-account a{
  text-decoration: none;
  color: #551A8B;
}

.logoPay{
  position:absolute;
  top: 17%;
  left: 31%;
  width: 10%;
  z-index: 10;
}
.paypalButton{
  width: 50%;
  position: relative;
  left: 25%;
  margin-top: 15px;
}
/* W3 SCHOOLS: https://www.w3schools.com/howto/howto_css_images_side_by_side.asp */
.logo-container{
  display: flex;
}

.social-media-logo{
  flex: 30%;
  padding: 10px;
}


/* ANIMATIONS */
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.profile-form{
  display: table;
  width: 500px;
  padding: 35px;
  background-color: #EBF5FB;
  transition: box-shadow .3s;
  /* CENTERING HELP: https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
  position: fixed;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* for box shadow rgba colour: https://codepen.io/ovdojoey/pen/BomKyZ */
.profile-form:hover {
  box-shadow: 0 0 50px #81c1fb;
}

.profile-bttn{
  text-align: center;
}


.profile-container{

  transition: .3s ease;
  background-color: red;
}

.profile-bg {
  background: url("./Assets/cloud-profile.jpg") no-repeat fixed;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.post-bg {
  background: url("./Assets/cloud-post.jpg") no-repeat fixed;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.profile-container{
  background: linear-gradient(270deg, #cfdef3, #4ca1af, #c4e0e5);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
  padding: 27px;
  border-radius: 100%;
  transition: .4s ease;
}

.profile-container:hover{
  background: linear-gradient(270deg, #E16666, #E16666, #E16666);
  border-radius: 20%;
  opacity: 0.7;
}

.updating-colour{
  background: linear-gradient(270deg, #ff0404, #f0eb21, #21f044);
  background-size: 600% 600%;
  -webkit-animation: loadImage 3s ease infinite;
  -moz-animation: loadImage 3s ease infinite;
  animation: loadImage 3s ease infinite;
  padding: 27px;
  border-radius: 100%;
  border-radius: 5%;
}


@-webkit-keyframes loadImage {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes loadImage {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes loadImage {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
